@using System.Text.RegularExpressions
@using System.Web

<div class="alert alert-warning" style="max-width: @MaxWith; @_marginbottom @_margintop" role="alert">
    @if (!string.IsNullOrEmpty(StatusText))
    {
        @((MarkupString) Regex.Replace(HttpUtility.HtmlEncode(StatusText), "\r?\n|\r", "<br />"))
    }

    @if (Status is not null)
    {
        <p>Error: @((MarkupString) Regex.Replace(HttpUtility.HtmlEncode(Status.Inner), "\r?\n|\r", "<br />"))</p>

        @if (Status.Reference is not null)
        {
            <p>Reference: @Status.Reference</p>
        }
    }
</div>