@using Ramboe.Blazor.UserFeedback.ExtensionMethods
<div class="alert alert-danger" role="alert">
    @if (!string.IsNullOrEmpty(Text))
    {
        @((MarkupString) Text.TransformLineBreaksIntoHtmlBr())
    }

    @if (Status is not null)
    {
        <span>Error: </span>
        @((MarkupString) Status.Inner.TransformLineBreaksIntoHtmlBr())
        @if (Status.Reference is not null)
        {
            <p>Reference: @Status.Reference</p>
        }
    }
</div>