@using System.Text.RegularExpressions
@using System.Web

<div class="alert alert-danger" role="alert">
    @if (!string.IsNullOrEmpty(Text))
    {
        @((MarkupString) Regex.Replace(HttpUtility.HtmlEncode(Text), "\r?\n|\r", "<br />"))
    }

    @if (Status is not null)
    {
        <span>Error:</span>
        @((MarkupString) Regex.Replace(HttpUtility.HtmlEncode(Status.Inner), "\r?\n|\r", "<br />"))

        @if (Status.Reference is not null)
        {
            <p>Reference: @Status.Reference</p>
        }
    }
</div>