<div class="d-flex justify-content-center align-items-center">
    @if (string.IsNullOrEmpty(ColorHex) is false)
    {
        <div class="@SpinnerType" style="width: @SpinnerSizeInRem; height: @SpinnerSizeInRem; margin: @SpinnerMargin; margin-top: 0px; margin-bottom: 0px; color: @ColorHex !important;" role="status">
        </div>
    }
    else
    {
        <div class="@SpinnerType @ColorClass" style="width: @SpinnerSizeInRem; height: @SpinnerSizeInRem; margin: @SpinnerMargin; margin-top: 0px; margin-bottom: 0px;" role="status">
        </div>
    }
</div>

@code{

    [Parameter] public string SpinnerSizeInRem { get; set; }

    [Parameter] public string SpinnerMargin { get; set; }

    [Parameter] public string SpinnerType { get; set; }

    [Parameter] public string ColorClass { get; set; }

    [Parameter] public string ColorHex { get; set; }

}